language: android
android:
  components:
    - tools
    - platform-tools

jdk:
  - oraclejdk8

before_install:
  - sdkmanager --list
  - echo yes | sdkmanager "tools" &>/dev/null
  - echo yes | sdkmanager "system-images;android-19;default;armeabi-v7a"
  - echo no | avdmanager create avd --force -n test -k "system-images;android-19;default;armeabi-v7a"
  - $ANDROID_HOME/emulator/emulator -avd test -no-audio -no-window &

install:
  - echo yes | sdkmanager "platform-tools" &>/dev/null
  - echo yes | sdkmanager "build-tools;27.0.2" &>/dev/null
  - echo yes | sdkmanager "platforms;android-27" &>/dev/null

before_script:
  - ./gradlew :app:assembleDebug :app:assembleAndroidTest
  - android-wait-for-emulator
  - adb shell settings put global window_animation_scale 0 &
  - adb shell settings put global transition_animation_scale 0 &
  - adb shell settings put global animator_duration_scale 0 &
  - adb shell input keyevent 82

script:
  - ./gradlew fullCoverageReport

sudo: false

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
